

.nav-scrolled {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transition: background-color 0.3s;
    color: #000;
}


.container-hero {
    background-image: url("assets/img/heros/bgr-hero.jpg");
}

.truncate-hover {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.5s ease-in-out;
}
.truncate-hover:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}